/*reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
/*reset end*/

body {
  font-family: "Potta One", "Yusei Magic", sans-serif;
  background-color: #8acdd7;
  color: #32322d;
}

.container {
  width: 380px;
  margin: 10px auto;
}

#app {
  width: 380px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgb(50, 50, 45, 0.3);
  position: relative;
  h1 {
    color: #32322d;
    font-size: 50px;
    letter-spacing: 10px;
  }
  &:hover {
    box-shadow: 0 2px 16px rgb(50, 50, 45, 0.1);
  }
}

.playground {
  max-width: 310px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  position: relative;
  button[data-index] {
    height: 100px;
    width: 100px;
    background-color: #f5e8b7;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 4px rgb(50, 50, 45, 0.4);
    // font-size: 80px;
    font-weight: 700;
    line-height: 104px;
    &.circle::after {
      content: "Ｏ";
      color: #ff8080;
      font-size: 80px;
    }
    &.cross::after {
      content: "X";
      color: #2d9596;
      font-size: 80px;
    }
    &:hover {
      box-shadow: 1px 1px 8px rgb(50, 50, 45, 0.1);
    }
  }
}

.img {
  @keyframes slideUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }
  width: 300px;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  &.slideUpDown {
    animation: slideUpDown 3s ease-in-out infinite;
  }
  &.welcome {
    background-image: url("./img/new_game.png");
  }
  &.win {
    background-image: url("./img/win.png");
  }
  &.lose {
    background-image: url("./img/lose.png");
  }
  &.tie {
    background-image: url("./img/tie.png");
  }
}

// 遊戲選項
.message-box {
  height: 80px;
  text-align: center;
  color: #375256;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  .text {
    font-size: 1.3rem;
  }

  transition: color 0.2s ease-out;
  .option:hover {
    color: rgb(243, 250, 251);
  }
}
.hidden {
  display: none;
}

// 勝利連線動畫
// 水平的線1~3
@mixin rowLineStyle($top: 45px) {
  @keyframes drawLineHorizon {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    100% {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
  position: absolute;
  background-color: #fcc419;
  border-radius: 15px;
  height: 7px;
  left: 45px;
  right: 45px;
  top: $top;
  animation: drawLineHorizon 1s;
}
.line1 {
  @include rowLineStyle;
}
.line2 {
  @include rowLineStyle(150px);
}
.line3 {
  @include rowLineStyle(255px);
}

// 垂直的線4~6
@mixin columnLineStyle($left: 45px) {
  @keyframes drawLineVerticle {
    0% {
      transform: scaleY(0);
      transform-origin: top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
    }
  }
  position: absolute;
  background-color: #fcc419;
  border-radius: 15px;
  width: 7px;
  animation: drawLineVerticle 1s;
  top: 45px;
  bottom: 45px;
  left: $left;
}

.line4 {
  @include columnLineStyle;
}
.line5 {
  @include columnLineStyle(150px);
}
.line6 {
  @include columnLineStyle(255px);
}

// 對角線7~8
@mixin crossLineStyle($deg, $left, $right, $transform-origin: left) {
  @keyframes drawLine7 {
    0% {
      transform: rotate($deg) scaleX(0);
    }

    100% {
      transform: rotate($deg) scaleX(1);
    }
  }
  position: absolute;
  background-color: #fcc419;
  border-radius: 15px;
  height: 7px;
  left: $left;
  right: $right;
  top: 45px;
  transform-origin: $transform-origin;
  transform: rotate($deg);
  animation: drawLine7 1s forwards;
}
.line7 {
  @include crossLineStyle(45deg, 45px, -40px);
}
.line8 {
  @include crossLineStyle(-45deg, -40px, 45px, right);
}

// 勝負統計表格
.result_wrap {
  %scoreBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1.7fr;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    width: 88%;
  }
  position: relative;
  .game_statistic {
    box-shadow: 0 1px 3px rgb(50, 50, 45, 0.3);
    background-color: rgb(250, 246, 240, 0.85);
    border-radius: 3px;
    width: 55%;
    margin: 0 auto;
  }
  .user_title {
    @extend %scoreBox;
    border-bottom: 3px solid #32322d;
    margin-top: 30px;
  }

  .user_score {
    @extend %scoreBox;
    color: #2d9596;
  }
}

.twitter_btn {
  position: absolute;
  bottom: 0;
  right: 45px;
  i {
    font-size: 30px;
    color: #00acee;
  }
}
