@charset "UTF-8";
body {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  background-color: #8acdd7;
}

[data-line], .play-again, .choose-first, .img, .start-game {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

#app {
  width: 400px;
  margin: 60px auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba(50, 50, 45, 0.3);
  position: relative;
}
#app h1 {
  color: #32322d;
  font-size: 50px;
  letter-spacing: 10px;
}
#app:hover {
  box-shadow: 0 2px 16px rgba(50, 50, 45, 0.1);
}

.playground {
  width: 330px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.playground button[data-index] {
  height: 100px;
  width: 100px;
  background-color: #f5e8b7;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px rgba(50, 50, 45, 0.4);
  font-size: 80px;
  font-weight: 700;
  line-height: 104px;
}
.playground button[data-index].circle::after {
  content: "Ｏ";
  color: #ff8080;
}
.playground button[data-index].cross::after {
  content: "X";
  color: #2d9596;
}
.playground button[data-index]:hover {
  box-shadow: 1px 1px 8px rgba(50, 50, 45, 0.1);
}

.btn {
  color: #375256;
  border: none;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.btn:hover {
  color: rgb(243, 250, 251);
}

.start-game {
  top: 80%;
  z-index: 1;
}

.img {
  width: 300px;
  top: 30%;
}
.img.slideUpDown {
  left: 12%;
  animation: slideUpDown 3s ease-in-out infinite;
}
.img.game-over {
  width: 200px;
}

@keyframes slideUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.choose-first {
  top: 77%;
}

.play-again {
  top: 80%;
}

[data-line] {
  background-color: #fcc419;
  border-radius: 15px;
  transition: transform 1s;
}

[data-line="3"], [data-line="2"], [data-line="1"] {
  width: 230px;
  height: 7px;
  transform-origin: left;
  transform: scale(0, 1);
  left: 50px;
}

[data-line="1"] {
  top: 50px;
}
[data-line="1"].line1 {
  transform: scale(1, 1);
}

[data-line="2"] {
  top: 165px;
}
[data-line="2"].line2 {
  transform: scale(1, 1);
}

[data-line="3"] {
  top: 280px;
}
[data-line="3"].line3 {
  transform: scale(1, 1);
}

[data-line="6"], [data-line="5"], [data-line="4"] {
  width: 7px;
  height: 230px;
  transform: scale(1, 0);
  transform-origin: top;
  top: 50px;
}

[data-line="4"] {
  left: 45px;
}
[data-line="4"].line4 {
  transform: scale(1, 1);
}

[data-line="5"] {
  left: 160px;
}
[data-line="5"].line5 {
  transform: scale(1, 1);
}

[data-line="6"] {
  left: 275px;
}
[data-line="6"].line6 {
  transform: scale(1, 1);
}

[data-line="7"] {
  width: 325px;
  height: 7px;
  transform: scale(0, 0) rotate(45deg);
  transform-origin: left;
  top: 50px;
  left: 50px;
}
[data-line="7"].line7 {
  transform: scale(1, 1) rotate(45deg);
}

[data-line="8"] {
  width: 325px;
  height: 7px;
  transform: scale(0, 0) rotate(135deg);
  transform-origin: left;
  top: 41px;
  left: 281px;
}
[data-line="8"].line8 {
  transform: scale(1, 1) rotate(135deg);
}/*# sourceMappingURL=style.css.map */