@charset "UTF-8";
body {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  background-color: #8acdd7;
}

.play-again, .choose-first, .img, .start-game {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

#app {
  width: 380px;
  margin: 60px auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba(50, 50, 45, 0.3);
  position: relative;
}
#app h1 {
  color: #32322d;
  font-size: 50px;
  letter-spacing: 10px;
}
#app:hover {
  box-shadow: 0 2px 16px rgba(50, 50, 45, 0.1);
}

.playground {
  width: 310px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  position: relative;
}
.playground button[data-index] {
  height: 100px;
  width: 100px;
  background-color: #f5e8b7;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 4px rgba(50, 50, 45, 0.4);
  font-size: 80px;
  font-weight: 700;
  line-height: 104px;
}
.playground button[data-index].circle::after {
  content: "Ｏ";
  color: #ff8080;
}
.playground button[data-index].cross::after {
  content: "X";
  color: #2d9596;
}
.playground button[data-index]:hover {
  box-shadow: 1px 1px 8px rgba(50, 50, 45, 0.1);
}

.btn {
  color: #375256;
  border: none;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.btn:hover {
  color: rgb(243, 250, 251);
}

.start-game {
  top: 76%;
  z-index: 1;
  text-align: center;
}

.img {
  width: 300px;
  top: 30%;
}
.img.slideUpDown {
  left: 12%;
  animation: slideUpDown 3s ease-in-out infinite;
}
.img.game-over {
  width: 200px;
}

@keyframes slideUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.choose-first {
  top: 77%;
}

.play-again {
  top: 76%;
  text-align: center;
}

.title,
.text {
  line-height: 0.2px;
}

.text {
  font-size: 1.3rem;
}

[data-line="8"], [data-line="7"], [data-line="6"], [data-line="5"], [data-line="4"], [data-line="3"], [data-line="2"], [data-line="1"] {
  position: absolute;
  background-color: #fcc419;
  border-radius: 15px;
}

[data-line="8"], [data-line="7"], [data-line="3"], [data-line="2"], [data-line="1"] {
  left: 45px;
  width: 230px;
  height: 7px;
  transform-origin: left;
  transform: scaleX(0);
}

[data-line="1"] {
  top: 45px;
}

[data-line="2"] {
  top: 150px;
}

[data-line="3"] {
  top: 255px;
}

.line1,
.line2,
.line3,
.line7,
.line8 {
  transform: scaleX(1);
  transition: transform 1s;
}

[data-line="6"], [data-line="5"], [data-line="4"] {
  width: 7px;
  height: 230px;
  transform-origin: top;
  transform: scaleY(0);
  top: 45px;
}

[data-line="4"] {
  left: 45px;
}

[data-line="5"] {
  left: 150px;
}

[data-line="6"] {
  left: 255px;
}

.line4,
.line5,
.line6 {
  transform: scaleY(1);
  transition: transform 1s;
}

[data-line="7"] {
  top: 45px;
  width: 310px;
}

[data-line="8"] {
  top: 45px;
  left: -45px;
  width: 310px;
  transform-origin: right;
}

.line7 {
  transform: scaleX(1) rotate(45deg);
}

.line8 {
  transform: scaleX(1) rotate(-45deg);
}/*# sourceMappingURL=style.css.map */