body {
  margin: 0;
  // font-family: "Yusei Magic", sans-serif;
  font-family: "Potta One", "Yusei Magic", sans-serif;
  background-color: #8acdd7;
  color: #32322d;
}

%position-medium {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  width: 380px;
  margin: 10px auto;
}

.visible {
  visibility: hidden;
}
.hidden {
  display: none;
}

#app {
  max-width: 380px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgb(50, 50, 45, 0.3);
  position: relative;
  h1 {
    color: #32322d;
    font-size: 50px;
    letter-spacing: 10px;
  }
  &:hover {
    box-shadow: 0 2px 16px rgb(50, 50, 45, 0.1);
  }
}

.playground {
  max-width: 310px;
  max-width: 19.357rem;
  background-color: #32322d;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  position: relative;
}

.btn {
  color: #375256;
  border: none;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease-out;
  &:hover {
    color: rgb(243, 250, 251);
  }
}
button[data-index] {
  height: 100px;
  width: 100px;
  // background-color: #f5e8b7;
  // border-radius: 15px;
  // border: none;
  // box-shadow: 1px 1px 4px rgb(50, 50, 45, 0.4);
  font-size: 80px;
  // font-weight: 700;
  // line-height: 104px;
  &.circle::after {
    content: "Ｏ";
    color: #ff8080;
  }
  &.cross::after {
    content: "X";
    color: #2d9596;
  }
  &:hover {
    box-shadow: 1px 1px 8px rgb(50, 50, 45, 0.1);
  }
}

.start-game {
  @extend %position-medium;
  top: 76%;
  z-index: 1;
  text-align: center;
}

.img {
  @extend %position-medium;
  width: 300px;
  top: 30%;
  &.slideUpDown {
    left: 12%;
    animation: slideUpDown 3s ease-in-out infinite;
  }
  &.game-over {
    width: 200px;
  }
}

@keyframes slideUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.choose-first {
  @extend %position-medium;
  top: 77%;
}

.play-again {
  @extend %position-medium;
  top: 76%;
  text-align: center;
}

.title,
.text {
  line-height: 0.2px;
}
.text {
  font-size: 1.3rem;
}

%lineStyle {
  position: absolute;
  background-color: #fcc419;
  border-radius: 15px;
}
%rowLineStyle {
  left: 45px;
  width: 230px;
  height: 7px;
  transform-origin: left;
  transform: scaleX(0);
}
[data-line="1"] {
  @extend %lineStyle;
  @extend %rowLineStyle;
  top: 45px;
}
[data-line="2"] {
  @extend %lineStyle;
  @extend %rowLineStyle;
  top: 150px;
}
[data-line="3"] {
  @extend %lineStyle;
  @extend %rowLineStyle;
  top: 255px;
}
.line1,
.line2,
.line3,
.line7,
.line8 {
  transform: scaleX(1);
  transition: transform 1s;
}

%columnLineStyle {
  width: 7px;
  height: 230px;
  transform-origin: top;
  transform: scaleY(0);
  top: 45px;
}
[data-line="4"] {
  @extend %lineStyle;
  @extend %columnLineStyle;
  left: 45px;
}
[data-line="5"] {
  @extend %lineStyle;
  @extend %columnLineStyle;
  left: 150px;
}
[data-line="6"] {
  @extend %lineStyle;
  @extend %columnLineStyle;
  left: 255px;
}
.line4,
.line5,
.line6 {
  transform: scaleY(1);
  transition: transform 1s;
}

[data-line="7"] {
  @extend %lineStyle;
  @extend %rowLineStyle;
  top: 45px;
  width: 310px;
}

[data-line="8"] {
  @extend %lineStyle;
  @extend %rowLineStyle;
  top: 45px;
  left: -45px;
  width: 310px;
  transform-origin: right;
}
.line7 {
  transform: scaleX(1) rotate(45deg);
}
.line8 {
  transform: scaleX(1) rotate(-45deg);
}

%scoreBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1.7fr;
  gap: 10px;
  margin: 0 auto;
  text-align: center;
  width: 88%;
}

.result_wrap {
  position: relative;
}

.game_statistic {
  // font-family: "Potta One", sans-serif;
  box-shadow: 0 1px 3px rgb(50, 50, 45, 0.3);
  background-color: rgb(250, 246, 240, 0.85);
  border-radius: 3px;
  width: 55%;
  margin: 0 auto;
}
.user_title {
  @extend %scoreBox;
  line-height: 0.5;
  border-bottom: 3px solid #32322d;
  margin-top: 30px;
}

.user_score {
  @extend %scoreBox;
  color: #2d9596;
}
.user_score p {
  line-height: 0;
}

.twitter_btn {
  position: absolute;
  bottom: 0;
  right: 45px;
  i {
    font-size: 30px;
    color: #00acee;
  }
}

// .wrap {
//   background-color: red;
//   width: 300px;
//   display: grid;

//   grid-template-columns: 1fr 1fr 1fr;
//   font-size: 80px;
// }
.a {
  height: 100px;
  width: 100px;
}
.b {
  width: 50px;
}

// .wrap2 {
//   background-color: #fcc419;
// }
